.App {
  text-align: center;
}

.header {
  font-family: serif;


}

h1 {
  margin-top: 60px;
  margin-bottom: 0px;
}

h3 {
  margin-top: 0px;
}

.contener {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, .3fr);
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width: 830px) {
  .contener {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}